<div mat-dialog-title>
    <h1>ADD USER</h1>
</div>

<form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstname">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastname">
            </mat-form-field><br>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
    
        </div>
        
    
    </div>
    <div class="action" mat-dialog-close >
        <button mat-raised-button type="button">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Add</button>
    </div>

</form>

