*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.outer{
    border:1px solid black;
    min-height:100vh;
    width:1280px;
    background:url(https://img.freepik.com/premium-photo/3d-rendering-shoping-cart-minimal-earth_172660-443.jpg?w=1060) no-repeat center/cover;
}

.outer form{
    width:350px;
    height:350px;
    margin:auto;
    margin-top:70px;
    border-radius:25px;
    background:(255,255,255,0.1);
    backdrop-filter:blur(30px);
    flex-wrap:wrap;
    /* border:1px solid white; */
    border-shadow:1px 1px solid white;
}
.outer form h1{
   color:white;
   text-align:center;
   font-weight:700;
   margin-top:20px;
   line-height:2;
   letter-spacing:2px;
}
.outer form label{
    color:white;
    text-height:20px;
    font-weight:500;
}

#emailinput{
    width:300px;
    height:35px;
    padding-left:10px;
    outline:none;
    border:none;
    background:none;
    border-bottom:2px solid white;
    color:white;
}
#passwordinput{
    width:300px; 
    height:35px;
    padding-left:10px;
    outline:none;
    border:none;
    background:none;
    border-bottom:2px solid white;
    color:white;
}

.outer form button{
    margin-left:100px;
    background:white;
    border:none;
    border-radius:15px;
    color:black;
    height:25px;
    font-weight:500;
}
#loginbutton{
    width:150px;
    
}

#checkbox{
    margin-left:30px;
}
#checkbox input{
    border:1px solid white;
    color:white;
    height:15px;
}
#forget{
    margin-top:10px;
    width:200px;
    margin-left: 70px;
}

